/* estilos navbar */
#mainnav {
    height: 100%;
    background-image: url("../../assets/img/sidebar4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
    border: none;
    margin: 0;
    padding: 0;
    opacity: .9;
    color: #032452 !important;
}

#mainnav-menu>.active {
    background-color: #ecf5f5 !important;
    /* opacity: .8; */
}

#mainnav-menu ul a:hover,
.menu-popover .sub-menu ul a:hover {
    color: #0088ff !important
}

#mainnav-menu>li>a:hover,
#mainnav-menu>li>a:active {
    color: #0088ff !important
}

#mainnav-menu .active:not(.active-sub)>a {
    color: #032452;
}

/* estilos  instrucciones * */
.is-instruccion {
    margin-left: 0px;
    color: red;
    font-weight: bold;
    font-size: 1.1rem;
}

/* campos requeridos */
.is-required:before {
    content: '*';
    margin-left: 0px;
    color: red;
    font-weight: bold;
    /* font-size: 1.8rem; */
}

/* imagenes de categorias */
.fotoperfil {
    border-radius: 0%;
    -webkit-border-radius: 0%;
    box-shadow: 0 0 15px 15px #1266e4;
    -webkit-box-shadow: 0 0 3px 3px #032451;
    width: 150px;
    height: 140px;
}

.fotoperfiluser {
    border-radius: 0%;
    -webkit-border-radius: 0%;
    box-shadow: 0 0 15px 15px #1266e4;
    -webkit-box-shadow: 0 0 5px 5px #032451;
    width: 100px;
    height: 100px;
    
}


.text-foto {
    font-size: 1.1rem;
    color: #4d627b;
}

#imagePreview{
padding: 2px 0px 5px 0;
}

.profile-image {
    width: 50px;
    height: 43px;
    border-radius: 5px;
}

.profile-image-show {
    width: 150px;
    height: 130px;
    border-radius: 5px;
    border-radius: 0%;
    -webkit-border-radius: 0%;
    box-shadow: 0 0 15px 15px #1266e4;
    -webkit-box-shadow: 0 0 3px 3px #032451;
}

/* input file de categorias */
.upload-box{
    font-size: 12px;
    background:white;
    border-radius: 8px;
    box-shadow: 5px 5px 10px black;
    width:300px;
    outline:none;
    cursor: pointer;
}

::-webkit-file-upload-button{
    color: white;
    background: #032452;
    padding: 7px;
    border: none;
    border-radius: 8px;
    outline:none;
    width: 140px;
    cursor: pointer;
}

::-webkit-file-upload-button:hover {
    background: #032450;
}

table th {
    background-color: #f1f2f7 !important;
    color: #121f3e;
    font-size: 15px;
}

table tr {
    border: inset 0pt !important;
    font-size: 14px;
    color: #121f3e !important;
    cursor: pointer;
}

#container .table.dataTable tbody tr.selected {
    background-color: #032452 !important;
    color: rgb(255, 255, 255) !important;
}



select {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: #032452;
    background-image: none;
    cursor: pointer;
    
}

/* Remove IE arrow */
select::-ms-expand {
    display: none;
}

/* Custom Select wrapper */
.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
    
}

/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #032452;
    transition: .25s all ease;
    pointer-events: none;
}

/* Transition */
.select:hover::after {
    color: #fff;
   
}

.button {
    background: rgb(1, 232, 255);
    background: -moz-linear-gradient(top, rgba(1, 232, 255, 1) 0%, rgba(3, 36, 81, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(1, 232, 255, 1) 0%, rgba(3, 36, 81, 1) 100%);
    background: -o-linear-gradient(top, rgba(1, 232, 255, 1) 0%, rgba(3, 36, 81, 1) 100%);
    background: -ms-linear-gradient(top, rgba(1, 232, 255, 1) 0%, rgba(3, 36, 81, 1) 100%);
    background: linear-gradient(top, rgba(1, 232, 255, 1) 0%, rgba(3, 36, 81, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee79a', endColorstr='#fec151', GradientType=0);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -ms-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    border: 1px solid #D69E31;
    color: #ffffff;
    cursor: pointer;
    float: left;
    font: 15px Helvetica, Arial, sans-serif;
    height: 27px;
    margin: 10px 0 15px 35px;
    position: absolute;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    width: 220px;
}

.button:hover {
    background: rgb(3, 36, 81);
    background: -moz-linear-gradient(top, rgba(3, 36, 81, 1) 0%, rgba(1, 232, 255, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(3, 36, 81, 1) 0%, rgba(1, 232, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(3, 36, 81, 1) 0%, rgba(1, 232, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(3, 36, 81, 1) 0%, rgba(1, 232, 255, 1) 100%);
    background: linear-gradient(top, rgba(3, 36, 81, 1) 0%, rgba(1, 232, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fec151', endColorstr='#fee79a', GradientType=0);
}

.buttonp {
    background: rgb(1, 232, 255);
    background: -moz-linear-gradient(top, rgba(1, 232, 255, 1) 0%, rgba(3, 36, 81, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(1, 232, 255, 1) 0%, rgba(3, 36, 81, 1) 100%);
    background: -o-linear-gradient(top, rgba(1, 232, 255, 1) 0%, rgba(3, 36, 81, 1) 100%);
    background: -ms-linear-gradient(top, rgba(1, 232, 255, 1) 0%, rgba(3, 36, 81, 1) 100%);
    background: linear-gradient(top, rgba(1, 232, 255, 1) 0%, rgba(3, 36, 81, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee79a', endColorstr='#fec151', GradientType=0);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -ms-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    border: 1px solid #D69E31;
    color: #ffffff;
    cursor: pointer;
    float: left;
    font: 15px Helvetica, Arial, sans-serif;
    height: 25px;
    margin: 10px 0 15px 35px;
    position: absolute;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    width: 100px;
}

.buttonp:hover {
    background: rgb(3, 36, 81);
    background: -moz-linear-gradient(top, rgba(3, 36, 81, 1) 0%, rgba(1, 232, 255, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(3, 36, 81, 1) 0%, rgba(1, 232, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(3, 36, 81, 1) 0%, rgba(1, 232, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(3, 36, 81, 1) 0%, rgba(1, 232, 255, 1) 100%);
    background: linear-gradient(top, rgba(3, 36, 81, 1) 0%, rgba(1, 232, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fec151', endColorstr='#fee79a', GradientType=0);
}


#content form button {
    background: rgb(1, 232, 255);
    background: -moz-linear-gradient(top, rgba(1, 232, 255, 1) 0%, rgba(3, 36, 81, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(1, 232, 255, 1) 0%, rgba(3, 36, 81, 1) 100%);
    background: -o-linear-gradient(top, rgba(1, 232, 255, 1) 0%, rgba(3, 36, 81, 1) 100%);
    background: -ms-linear-gradient(top, rgba(1, 232, 255, 1) 0%, rgba(3, 36, 81, 1) 100%);
    background: linear-gradient(top, rgba(1, 232, 255, 1) 0%, rgba(3, 36, 81, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee79a', endColorstr='#fec151', GradientType=0);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -ms-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    border: 1px solid #D69E31;
    color: #ffffff;
    cursor: pointer;
    float: left;
    font: 15px Helvetica, Arial, sans-serif;
    height: 25px;
    margin: 0px 0 0px 0px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    width: 100px;
}

#content form button:hover {
    background: rgb(3, 36, 81);
    background: -moz-linear-gradient(top, rgba(3, 36, 81, 1) 0%, rgba(1, 232, 255, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(3, 36, 81, 1) 0%, rgba(1, 232, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(3, 36, 81, 1) 0%, rgba(1, 232, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(3, 36, 81, 1) 0%, rgba(1, 232, 255, 1) 100%);
    background: linear-gradient(top, rgba(3, 36, 81, 1) 0%, rgba(1, 232, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fec151', endColorstr='#fee79a', GradientType=0);
}






